@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 41% 8%;
    --foreground: 240 5% 96%;

    --card: 221 27% 12%;
    --card-foreground: 225 4% 82%;

    --popover: 222 41% 8%;
    --popover-foreground: 225 4% 60%;

    --primary: 13 62% 56%;
    --primary-foreground: 0 0% 100%;

    --secondary: 221 27% 12%;
    --secondary-foreground: 225 4% 82%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 225 4% 60%;
    --muted-placeholder: 220 4% 54%;

    --accent: 221 21% 15%;
    --accent-foreground: 240 3% 93%;

    --destructive: 4 93% 69%;
    --destructive-foreground: 210 40% 98%;

    --error: 4 86% 58%;

    /* --border: 214.3 31.8% 91.4%; */
    --border: 223 12% 23%;
    --border-secondary: 221 21% 15%;
    --input: 214.3 31.8% 91.4%;
    --ring: 214.3 31.8% 91.4%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

main {
  overflow: hidden;
}
.comingsoon-container .skeleton{
  align-self: unset;
}

.cmdk-empty + .cmdk-search-list .cmdk-footer {
  display: none;
}

.recipe-card .glow-filter{
  display: none;
}
.recipe-card .drinkmaker{
  transition: transform 300ms;
  transform: scale(1);
}
.recipe-card .drinkmaker:has(.drinkstack-container:hover) .glow-filter{
  display: block;
}

.recipe-card .drinkmaker:has(.drinkstack-container:hover){
  transform: scale(1.1);
}
.recipe-card .drinkmaker:has(.drinkstack-container:hover) .shadow-base{
  opacity: 0;
}

@supports not (selector(.recipe-card .drinkmaker:has(.drinkstack-container:hover))) {
  .recipe-card .drinkmaker:hover .glow-filter{
    display: block;
  } 

  .recipe-card .drinkmaker:hover{
    transform: scale(1.1);
  }
  .recipe-card .drinkmaker:hover .shadow-base{
    opacity: 0;
  }
}
.comingsoon-container .drinkmaker{
  align-self: center !important;
  margin-top: 0 !important;
}

/* glow text css */
.textShadow-glow {
  text-shadow:0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5);
}
.textShadow-none {
  text-shadow: none
}

/* Not working in local so hard adding */
/* .__variable_866216 {
  --font-sans: "__Lexend_866216", "__Lexend_Fallback_866216";
} */